.arrow{
   cursor: pointer; 
}
.arrow:hover{
    padding: 5px;
    border-radius: 50%;
    /* border: solid grey; */
    /* background-color:; */
    /* margin: 4px; */
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 20px; */
    width:80%;
    margin: 10px;
    cursor: pointer;

}

.leaderboard{
    cursor: pointer;
    text-decoration: none;
    color: blue;
    
}